<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <button><%= link_to "Edit", edit_article_path(@article) %></button>
  <button><%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></button>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>